@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --yellow: #ffd310;
  --black: #192a56;
  --light-color: #666;
  --mycolor: rgb(253, 246, 158);
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #eee;
}

.sub-heading {
  text-align: center;
  color: var(--yellow);
  font-size: 2rem;
  padding-top: 1rem;
}

.heading {
  text-align: center;
  color: var(--black);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background: var(--yellow);
  letter-spacing: 0.1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

header .logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
}

header .logo i {
  color: var(--yellow);
}

header .navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
  color: #fff;
  background: var(--yellow);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: #eee;
}

header .icons i:hover,
header .icons a:hover {
  color: #fff;
  background: var(--yellow);
  transform: rotate(360deg);
}

header .icons #menu-bars {
  display: none;
}

.home .home-slider .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
}

.home .home-slider .slide .content {
  flex: 1 1 45rem;
}

.home .home-slider .slide .image {
  flex: 1 1 45rem;
}

.home .home-slider .slide .image img {
  width: 100%;
}

.home .home-slider .slide .content span {
  color: var(--green);
  font-size: 2.5rem;
}

.home .home-slider .slide .content h3 {
  color: var(--yellow);
  font-size: 7rem;
}

.home .home-slider .slide .content p {
  color: var(--light-color);
  font-size: 2.2rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}

.swiper-pagination-bullet-active {
  background: var(--black);
}
/* 
counter stat
 */
.container {
  margin-top: 100px;
}

.counter-box {
  display: block;
  background: #f6f6f6;
  padding: 40px 20px 37px;
  text-align: center;
}

.counter-box p {
  margin: 5px 0 0;
  padding: 0;
  color: #909090;
  font-size: 18px;
  font-weight: 500;
}

.counter-box i {
  font-size: 60px;
  margin: 0 0 15px;
  color: #d2d2d2;
}

.counter {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #666;
  line-height: 28px;
}

.counter-box.colored {
  background: #ffd310;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
  color: #fff;
}
/* about   */
.about .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}

.about .row .image{
  flex:1 1 45rem;
}

.about .row .image img{ 
  width: 100%;
}

.about .row .content{
  flex:1 1 45rem;
}

.about .row .content h3{
  color:var(--black);
  font-size: 4rem;
  padding:.5rem 0;
}

.about .row .content p{
  color:var(--light-color);
  font-size: 1.5rem;
  padding:.5rem 0;
  line-height: 2;
}

.about .row .content .icons-container{
  display: flex;
  gap:1rem;
  flex-wrap: wrap;
  padding:1rem 0;
  margin-top: .5rem;
}

.about .row .content .icons-container .icons{
  background:#eee;
  border-radius: .5rem;
  border:.1rem solid rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
  flex:1 1 17rem;
  padding:1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
  font-size: 2.5rem;
  color:var(--yellow);
}

.about .row .content .icons-container .icons span{
  font-size: 1.5rem;
  color:var(--black);
}


/* footer */
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  color: var(--black);
}

.footer .box-container .box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}

.footer .box-container .box a:hover {
  color: var(--yellow);
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  color: var(--black);
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.footer .credit span a {
  color: var(--yellow);
}

.footer .credit span a:hover {
  color: white;
  background-color: var(--yellow);
}
/*  */

.dishes .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1.5rem;
}

.dishes .box-container .box {
  padding: 2.5rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye {
  position: absolute;
  top: 1.5rem;
  background: #eee;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--black);
}

.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover {
  background: var(--yellow);
  color: #fff;
}

.dishes .box-container .box .fa-heart {
  right: -15rem;
}

.dishes .box-container .box .fa-eye {
  left: -15rem;
}

.dishes .box-container .box:hover .fa-heart {
  right: 1.5rem;
}

.dishes .box-container .box:hover .fa-eye {
  left: 1.5rem;
}

.dishes .box-container .box img {
  height: 17rem;
  margin: 1rem 0;
}

.dishes .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.dishes .box-container .box .stars {
  padding: 1rem 0;
}

.dishes .box-container .box .stars i {
  font-size: 1.7rem;
  color: var(--yellow);
}

.dishes .box-container .box span {
  color: var(--yellow);
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2.5rem;
}
