/* footer */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
    --yellow: #ffd310;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}


footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

footer .box-container .box h3 {
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--black);
    text-align: center;
}

footer .box-container .box a {
    display: block;
    padding: .5rem 0;
    font-size: 1rem;
    color: var(--light-color);
    text-align: center;
}

footer .box-container .box a:hover {
    color: var(--yellow);
    text-decoration: underline;
}

footer .credit {
    text-align: center;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    font-size: 1.5rem;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

footer .credit span a {
    color: var(--yellow);
}

footer .credit span a:hover {
    color: white;
    background-color: var(--yellow);
}